body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
}

#splashtext {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: -apple-system, BlinkMacSystemFont, "akzidenz-grotesk_pro_regular", sans-serif;
  text-align: center;
  /*    margin-left: auto; 
      margin-right: auto; 
      width: 30em;
  */
}

#menu h3 {
  display: inline;
  margin: 0px;
}
#menu #title {
  margin-left: 1em;
}
#menu #timestamp {
  float: right;
  margin-right: 1em;
}

#menu {
  position: relative;
  background: #fff;
  font-family: "Open Sans", sans-serif;
}
